/* Write your CSS here */
.match_card2 {
  background-color: black;
  color: white;
  height: 400px;
  aspect-ratio: 9/16;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
}
.match_card2 img {
  width: 50%;
}
.match_card2 h1 {
  font-size: 20px;
}
.red {
  color: red;
}
.green {
  color: green;
}
